/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/

.link {
  text-decoration: none;
  transition: color .15s ease-in;
  color: #fff;
}

.link:link,
.link:visited {
  color: rgba(255,255,255,.6);
}

